form input,select{
  border: 1px solid rgb(194, 193, 193);
}
.ck-editor__editable_inline{
  height: 100px !important;
}
form label{
  color: #5e6368;
  display: inline-block;
    margin-bottom: .5rem;
}