
<div class="d-flex align-items-start mt-5">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="applicant-tab" data-bs-toggle="pill" data-bs-target="#applicant" type="button" role="tab" aria-controls="applicant" aria-selected="true">Applicant</button>
      <button class="nav-link" id="company-tab" data-bs-toggle="pill" data-bs-target="#company" type="button" role="tab" aria-controls="company" aria-selected="false">Company</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="applicant" role="tabpanel" aria-labelledby="applicant-tab" tabindex="0">
            <form action="">
                <div class="row">
                    <label class="form-label">Information</label>
                    <div class="col-6 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" [(ngModel)]="username" class="form-control" id="email" placeholder="name@example.com">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" [(ngModel)]="password" class="form-control" id="password" placeholder="123@">
                    </div>
                </div>
                <hr/>
                <label class="form-label">Info Detail</label>
                <div class="mb-3">
                    <label for="full_name" class="form-label">Full name</label>
                    <input type="text" class="form-control" id="full_name" placeholder="Nguyen Van A">
                </div>
                <button type="button" (click)="register_applicant()" class="btn btn-info">Register</button>
            </form>
      </div>
      <div class="tab-pane fade" id="company" role="tabpanel" aria-labelledby="company-tab" tabindex="0">
        <form action="">
            <div class="row">
                <label class="form-label">Information</label>
                <div class="col-6 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </div>
                <div class="col-6 mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" class="form-control" id="password" placeholder="123@">
                </div>
            </div>
            <hr/>
            <label class="form-label">Info Detail</label>
            <div class="mb-3">
                <label for="copmany_name" class="form-label">Company name</label>
                <input type="text" class="form-control" id="copmany_name" placeholder="Company ABC">
            </div>
            <button type="submit" class="btn btn-info">Register</button>
        </form>
      </div>
    </div>
  </div>
