<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Easy Job</h5>
              <div class="row">
                <Span>D/C: Công viên phần mềm quang trung quận 12</Span><br>
                <span>tel: 0359780733 <br/>email: <a href="mailto:thag.nguyen2308@gmail.com">Easyjob.vn &#64; gmail.com</a></span>
              </div>
              <p class="font-weight-bold">Verified By</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Người tìm việc</h5>
                <a class="btn btn-link text-white-50" href="">Việc làm mới</a>
                <a class="btn btn-link text-white-50" href="">Tất cả công việc</a>
                <a class="btn btn-link text-white-50" href="">Tính lương Gross-Net</a>
            </div>
           
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Nhà tuyển dụng</h5>
              
                <a class="btn btn-link text-white-50" href="">Tìm ứng viên</a>
                <a class="btn btn-link text-white-50" href="">Tạo tài khoản</a>
                <a class="btn btn-link text-white-50" href="">Giải pháp tìm kiếm nhân tài</a>
              
            </div>
             <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Cộng đồng</h5>
                <p class="mb-2">Theo dõi các cộng đồng</p>
          
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom">Easy Jobs</a> 2014-2024 Công ty CP Easyjobs Việt Nam. Đã đăng ký Bản quyền.
                </div>
          
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<back-to-top></back-to-top>