
// .bg-gra-01 {
//   background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
//   background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
//   background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
//   background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
//   background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
// }

.full-screen-container{
  position: fixed;
  // top: 0;
  // bottom: 0;
  left: 0;
  right: 0;
  padding-right: 0;
  padding-left: 0;
}

.company-form{
  margin-top: -120px;
}

.applicant, .company{
    display: block;
    width: 300px;
    height: 300px;
    overflow: hidden;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    -ms-border-radius: 180px;
    -o-border-radius: 180px;
    border-radius: 180px;
    /* the rest */
    position: relative; /* for the overlay later */
    margin: 0px auto;
    text-align: center;
    margin-bottom: 10px;
    border: 3px solid #FFF;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),inset 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.applicant img,
.company img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-logo img{
  width: 250px;
  height: 150px;
}

.btn-applicant, .btn-company{
    width: 200px;
}
.bg-rightt{
  position: relative;
}
.bg-rightt img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.btn-register{
  background-color: #00b14f;
}

.bg-right{
  position: relative;
}

.bg-right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.view-skills{
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  flex: 0 0 auto;
  margin-right: 2px; 
  margin-bottom: 5px; 
}

.search-skill{
  border: none;
}
.search-skill:focus{
  outline: none;
  border: none;
}

// .select-skill select{
//   scrollbar-width: thin;
//   scrollbar-color: gray lightgray;
// }

// .select-skill select::-webkit-scrollbar{width: 8px;}
// .select-skill select::-webkit-scrollbar-thumb{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: gray;}
// .select-skill select::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: lightgray;border-radius: 10px;}