
.card, .modal-header, .modal-footer{
    background-color: #f1f2f695;
}
// .title-form-updateinfouser{color: #389C99;}
.card-follow, .card-education{
    background-color: #FFFFFF;  
}
.avatar img{
    width: 160px;
    height: 160px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.btn-share{background-color: #389C99;}
.btn-download{
    border:1px solid #389C99;
    color: #389C99;
}

.icon-education img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 30px;
}
.modal-header{
    background-color: #2A6563;
    color: #FFFFFF;
}