.full-screen-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 0;
    padding-left: 0;
    background: rgba(255, 255, 255, 0.2); /* Màu nền với độ trong suốt */
    backdrop-filter: blur(10px); /* Hiệu ứng làm mờ */
  }

  .container{
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }

  .img-logo img{
    width: 250px;
    height: 150px;
    margin-bottom: -40px;
  }
  
  .btn-applicant, .btn-company{
      width: 200px;
  }
  .bg-rightt{
    position: relative;
  }
  .bg-rightt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .btn-register{
    background-color: #00b14f;
  }