thead th{
    padding: 10px;
    font-size: 18px;
}
.add-cv-action{
    padding-left: 48px;
    padding-top: 34px;
}
.add-cv-action button{
    top:-10px;
}
.add-cv-action button:nth-child(2){
    left: 130px;
}