<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
          <p style="font-size: 20px; font-weight: bold; color: rgb(47, 47, 231);">Việc làm theo ngôn ngữ</p>
           <ngx-slick-carousel [config]="config_list_language" class="slickSwiper ">

            <div class="col-lg-3 col-sm-6 wow fadeInUp item_language" data-wow-delay="0.1s" ngxSlickItem>
                <a class="cat-item rounded p-4" href="">
                   <img class="img_js" src="./assets/img/logo/programming_language/python.svg.png" alt="">
                    <h6 class="mb-3 mt-3">Python</h6>
                    <p class="mb-0">123 Công Việc</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp item_language" data-wow-delay="0.3s" ngxSlickItem>
                <a class="cat-item rounded p-4" href="">
                  <img class="img_js" src="./assets/img/logo/programming_language/java.png" alt="">
                    <h6 class="mb-3 mt-3">Java</h6>
                    <p class="mb-0">123 Công Việc</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp item_language" data-wow-delay="0.5s" ngxSlickItem>
                <a class="cat-item rounded p-4" href="">
                   <img class="img_js" src="./assets/img/logo/programming_language/js.png" alt="">

                    <h6 class="mb-3 mt-3">JavaScript</h6>
                    <p class="mb-0">123 Công Việc</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp item_language" data-wow-delay="0.7s" ngxSlickItem>
                <a class="cat-item rounded p-4" href="">
                   <img class="img_js" src="./assets/img/logo/programming_language/c.jpg" alt="">

                    <h6 class="mb-3 mt-3">C/C++</h6>
                    <p class="mb-0">123 Công Việc</p>
                </a>
            </div>
              <div class="col-lg-3 col-sm-6 wow fadeInUp item_language" data-wow-delay="0.7s" ngxSlickItem>
                <a class="cat-item rounded p-4" href="">
                   <img class="img_js" src="./assets/img/logo/programming_language/c.jpg" alt="">

                    <h6 class="mb-3 mt-3">C/C++</h6>
                    <p class="mb-0">123 Công Việc</p>
                </a>
            </div>
              <div class="col-lg-3 col-sm-6 wow fadeInUp item_language" data-wow-delay="0.7s" ngxSlickItem>
                <a class="cat-item rounded p-4" href="">
                   <img class="img_js" src="./assets/img/logo/programming_language/c.jpg" alt="">

                    <h6 class="mb-3 mt-3">C/C++</h6>
                    <p class="mb-0">123 Công Việc</p>
                </a>
            </div>
              <div class="col-lg-3 col-sm-6 wow fadeInUp item_language" data-wow-delay="0.7s" ngxSlickItem>
                <a class="cat-item rounded p-4" href="">
                   <img class="img_js" src="./assets/img/logo/programming_language/c.jpg" alt="">

                    <h6 class="mb-3 mt-3">C/C++</h6>
                    <p class="mb-0">123 Công Việc</p>
                </a>
            </div>
            
           </ngx-slick-carousel>
            </div>
             <div class="row g-4 mt-3 listTopCompany">
            <p style="font-size: 20px; font-weight: bold; color:  rgb(47, 47, 231);">Top Công Ty Hàng Đầu</p>
            <!-- auto slide start -->

 <div  *ngFor="let company of companys" class="companyBox_container col-md-2" data-wow-delay="0.1s" >
                <a class="rounded  p-4" href="" >
                    <div class="companyBox">
                      <div class="companyLogo">
                        <img src="{{company.logo}}" alt="">
                      </div>
                      <div class="companyBox_name">
                        <div class="companyBlock__name is-uppercase mb-3">{{company.name}}</div>
                        <span class="companyBlock__tag">Việc mới</span>
                      </div>
                    </div>
                </a>
            </div>

        </div>

           <div class="row g-4 mt-3 " >
            <p style="font-size: 20px; font-weight: bold; color:  rgb(47, 47, 231);">Công việc mới</p>
             <ngx-slick-carousel [config]="config_newJob" class="" >
            <div class="row newJob" ngxSlickItem>
              <a class="item_JobNew  col-sm-3  "href="#"><div class="row " >
               <div class="newJob_logoC col-sm-4 " >
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8 ">
                <div class="d-flex justify-content-sm-between">
                  <div>
                     <h5 >Al Engineer</h5>
                  </div>
                     <div>
                       <a href="" class="text-dark"> <i class="bi bi-heart-fill"></i></a>
                     </div>
                </div>
            
                <span>ACwork Vietnam</span>
                <ul class="d-flex justify-content-sm-between justify-content-lg-between
">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>

   <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
            </div>

            <div class="row newJob" ngxSlickItem>
              <a class="item_JobNew  col-sm-3  "href="#"><div class="row " >
               <div class="newJob_logoC col-4 " >
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>

   <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
                 <a class="item_JobNew  col-sm-3 "href="#"><div class="row ">
               <div class="newJob_logoC col-4">
                <img src="./assets/img/logovin.webp" class="">
               </div>
               <div class="newJob_detail col-sm-8">
                <h5 >Al Engineer</h5>
                <span>ACwork Vietnam</span>
                <ul class="d-flex">
                  <li class="">Ai</li>
                  <li>javascript</li>
                  <li>java</li>
                </ul>
               </div>
              </div>
              </a>
            </div>

              </ngx-slick-carousel>
           </div>
</div>
<!-- Category End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="./assets/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="./assets/img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="./assets/img/about-3.jpg" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="./assets/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Chúng tôi sẽ giúp bạn có được công việc tốt và giúp bạn tìm kiếm được những nhân tài
                </h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                    eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <p><i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita</p>
                <p><i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos</p>
                <p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="about">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About End -->


<!-- Jobs Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Danh sách việc làm</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                        href="#tab-1">
                        <h6 class="mt-n1 mb-0">Tất cả</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <h6 class="mt-n1 mb-0">Toàn thời gian </h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <h6 class="mt-n1 mb-0">Bán thời gian</h6>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    @for (r of res; track $index) {
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="./assets/img/com-logo-1.jpg"
                                    alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">{{r.nameskill}}</h5>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full
                                        Time</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div
                                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i
                                            class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                    Line: 01 Jan, 2045</small>
                            </div>
                        </div>
                    </div>
                    }

                    @if (loading) {
                    <div class="text-center mb-2">
                        <div class="spinner-border text-dark" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    }


                    @if (btn_loadmore) {
                        <button class="btn btn-primary py-3 px-5" (click)="loadmore()">Browse More
                            Jobs</button>
                    }
                </div>

                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="./assets/img/com-logo-1.jpg"
                                    alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Software Engineer</h5>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full
                                        Time</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div
                                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i
                                            class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                    Line: 01 Jan, 2045</small>
                            </div>
                        </div>
                    </div>
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="./assets/img/com-logo-2.jpg"
                                    alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Marketing Manager</h5>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full
                                        Time</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div
                                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i
                                            class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                    Line: 01 Jan, 2045</small>
                            </div>
                        </div>
                    </div>
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="./assets/img/com-logo-3.jpg"
                                    alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Product Designer</h5>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full
                                        Time</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div
                                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i
                                            class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                    Line: 01 Jan, 2045</small>
                            </div>
                        </div>
                    </div>
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="./assets/img/com-logo-4.jpg"
                                    alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Creative Director</h5>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full
                                        Time</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div
                                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i
                                            class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                    Line: 01 Jan, 2045</small>
                            </div>
                        </div>
                    </div>
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="./assets/img/com-logo-5.jpg"
                                    alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Wordpress Developer</h5>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full
                                        Time</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div
                                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i
                                            class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                    Line: 01 Jan, 2045</small>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="./assets/img/com-logo-1.jpg"
                                    alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Software Engineer</h5>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full
                                        Time</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div
                                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i
                                            class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                    Line: 01 Jan, 2045</small>
                            </div>
                        </div>
                    </div>
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="./assets/img/com-logo-2.jpg"
                                    alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Marketing Manager</h5>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full
                                        Time</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div
                                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i
                                            class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                    Line: 01 Jan, 2045</small>
                            </div>
                        </div>
                    </div>
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="./assets/img/com-logo-3.jpg"
                                    alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Product Designer</h5>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full
                                        Time</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div
                                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i
                                            class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                    Line: 01 Jan, 2045</small>
                            </div>
                        </div>
                    </div>
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="./assets/img/com-logo-4.jpg"
                                    alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Creative Director</h5>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full
                                        Time</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div
                                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i
                                            class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                    Line: 01 Jan, 2045</small>
                            </div>
                        </div>
                    </div>
                    <div class="job-item p-4 mb-4">
                        <div class="row g-4">
                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                <img class="flex-shrink-0 img-fluid border rounded" src="/assets/img/com-logo-5.jpg"
                                    alt="" style="width: 80px; height: 80px;">
                                <div class="text-start ps-4">
                                    <h5 class="mb-3">Wordpress Developer</h5>
                                    <span class="text-truncate me-3"><i
                                            class="fa fa-map-marker-alt text-primary me-2"></i>New York, USA</span>
                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full
                                        Time</span>
                                    <span class="text-truncate me-0"><i
                                            class="far fa-money-bill-alt text-primary me-2"></i>$123 - $456</span>
                                </div>
                            </div>
                            <div
                                class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                <div class="d-flex mb-3">
                                    <a class="btn btn-light btn-square me-3" href=""><i
                                            class="far fa-heart text-primary"></i></a>
                                    <a class="btn btn-primary" href="">Apply Now</a>
                                </div>
                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date
                                    Line: 01 Jan, 2045</small>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary py-3 px-5 showmore">Browse More Jobs</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jobs End -->

<app-quick-search></app-quick-search>