<div class="container mt-md-5 ">
    <ul class="nav nav-pills mb-md-3 p-md-3 border border-secondary border-opacity-25 rounded-3 justify-content-around list-managerment" 
      id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">EasyJob CV của tôi</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-managermet-cv-tab" data-bs-toggle="pill" data-bs-target="#pills-managermet-cv" type="button" role="tab" aria-controls="pills-managermet-cv" aria-selected="false">Quản lý CV</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-managermant-aplly-tab" data-bs-toggle="pill" data-bs-target="#pills-managermant-aplly" type="button" role="tab" aria-controls="pills-managermant-aplly" aria-selected="false">Việc đã ứng tuyển</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-managermet-follow-tab" data-bs-toggle="pill" data-bs-target="#pills-managermet-follow" type="button" role="tab" aria-controls="pills-managermet-follow" aria-selected="false">Việc đã theo dõi</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade  show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <app-my-cv></app-my-cv>
      </div>
      <div class="tab-pane fade" id="pills-managermet-cv" role="tabpanel" aria-labelledby="pills-managermet-cv-tab" tabindex="0">
        <app-manager-cv></app-manager-cv>
      </div>
      <div class="tab-pane fade" id="pills-managermant-aplly" role="tabpanel" aria-labelledby="pills-managermant-apply-tab" tabindex="0">
        <app-job-apply></app-job-apply>
      </div>
      <div class="tab-pane fade" id="pills-managermet-follow" role="tabpanel" aria-labelledby="pills-managermet-follow-tab" tabindex="0">
        <app-job-follow></app-job-follow>
      </div>
    </div>
</div>
