<div class="container">
  <div class="row">
    <div class="col ml-1 p-3 quick-search">
      <div class="title ">Top việc làm fresher</div>
      <div class="list">
        <ul>
          <li><a href="#" class="item-search-link" >Intern java</a></li>
          <li><a href="#" class="item-search-link" >fresher python</a></li>
           <li><a href="#" class="item-search-link" >intern javascripts</a></li>
          <li><a href="#" class="item-search-link" >fresher php</a></li>
          
          
        </ul>
      </div>
    </div>

    <div class="col ml-1 p-3 quick-search">
      <div class="title ">Top việc làm fresher</div>
      <div class="list">
        <ul>
          <li><a href="#" class="item-search-link" >Intern java</a></li>
          <li><a href="#" class="item-search-link" >fresher python</a></li>
           <li><a href="#" class="item-search-link" >intern javascripts</a></li>
          <li><a href="#" class="item-search-link" >fresher php</a></li>
          
          
        </ul>
      </div>
    </div>

      <div class="col ml-1 p-3 m-0 quick-search">
      <div class="title ">Top việc làm fresher</div>
      <div class="list">
        <ul>
          <li><a href="#" class="item-search-link" >Intern java</a></li>
          <li><a href="#" class="item-search-link" >fresher python</a></li>
           <li><a href="#" class="item-search-link" >intern javascripts</a></li>
          <li><a href="#" class="item-search-link" >fresher php</a></li>
          
          
        </ul>
      </div>
    </div>
  </div>
</div>