@if (getURL() && (getURL() === "/dang-ky" || getURL() === "/dang-nhap") ) {
    <router-outlet></router-outlet>
} @else if (getURL() && (getURL() === "/u/cap-nhat-thong-tin-ca-nhan")) {
    <app-header-menustart></app-header-menustart>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
} @else if (getURL() && (getURL() === "/u/cv")) {
    <app-header-menustart></app-header-menustart>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
} @else if (getURL() && (getURL() === "/u/cv/edit")) {
    <app-header-menustart></app-header-menustart>
    <router-outlet></router-outlet>
}
@else {
    <app-header-menustart></app-header-menustart>

    <app-header-carouselstrart [images]="images"  ></app-header-carouselstrart>

    <app-header-search></app-header-search>
    <router-outlet></router-outlet>
    <!-- <app-feedback-clients></app-feedback-clients> -->

    <app-footer></app-footer>
}
