
<div class="container-fluid">
  
    <h5  class="mt-3 mb-3 row">Bảng Tin</h5>

  <div class="row">
  <ngx-slick-carousel [config]="config" class="carousel">
  <div class="col-sm-6  item_carousel" ngxSlickItem>
    <div class="img_news">
    <img src="./assets/img/carousel-1.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-6  item_carousel" ngxSlickItem>
    <div class="img_news">
    <img src="./assets/img/carousel-1.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-6  item_carousel" ngxSlickItem>
    <div class="img_news">
    <img src="./assets/img/carousel-1.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-6  item_carousel" ngxSlickItem>
    <div class="img_news">
    <img src="./assets/img/carousel-1.jpg" alt="">
    </div>
  </div>
   <div class="col-sm-6  item_carousel" ngxSlickItem>
    <div class="img_news">
    <img src="./assets/img/carousel-1.jpg" alt="">
    </div>
  </div>
   <div class="col-sm-6  item_carousel" ngxSlickItem>
    <div class="img_news">
    <img src="./assets/img/carousel-1.jpg" alt="">
    </div>
  </div>
   <div class="col-sm-6  item_carousel" ngxSlickItem>
    <div class="img_news">
    <img src="./assets/img/carousel-1.jpg" alt="">
    </div>
  </div>
  </ngx-slick-carousel>
</div>

  <div class="row menu_function mb-5">
    <div class=" bg-light funtion_left">
      <div class="d-flex justify-content-between align-items-center p-2 mt-2">
          <h5 class="">Hiệu quả tuyển dụng</h5>
          <i class="bi bi-info-circle "></i>
      </div>
      <div class="function_item mb-4">
      <div class="bg-danger function_item_child p-2 d-flex ">
        <div>
          <h6>0</h6>
          <span>chien dich dang mo</span>
        </div>
        <div class="d-flex align-items-center">
          <i class="bi bi-megaphone"></i>
        </div>

      </div>
      <div class="bg-danger function_item_child p-2 d-flex">
        <div>
          <h6>0</h6>
          <span>cv tiếp nhận</span>
        </div>
        <div class="d-flex align-items-center">
          <i class="bi bi-megaphone"></i>
        </div>

      </div>
      <div class="bg-danger function_item_child p-2 d-flex">

            <div>
          <h6>0</h6>
          <span>Tin tuyển dụng hiển thị</span>
        </div>
        <div class="d-flex align-items-center">
          <i class="bi bi-megaphone"></i>
        </div>

      </div>
      <div class="bg-danger function_item_child p-2 d-flex">

            <div>
          <h6>0</h6>
          <span>CV ứng tuyển mới</span>
        </div>
        <div class="d-flex align-items-center">
          <i class="bi bi-megaphone"></i>
        </div>
      </div>
      </div>

     <div class=" function_item_child_image">
      <img src="./assets/img/recruitment.webp" alt="">
      <small class="mt-2">Chưa đủ dữ liệu để hiển thị</small>
     </div>
     <div class="maneger_campaign p-2">
     <i class="bi bi-briefcase "></i>
    <a href="#" style="text-transform: uppercase; margin-left: 1rem; text-decoration: none;color: black;">Quản lý chiến dịch tuyển dụng</a>
     </div>
    </div>
    
    <div class="bg-light p-2">
      <div class="information_user p-2 ">
        <div class="row">
          <div class="col-sm-3 information_user_img">
            <img src="./assets/img/about-1.jpg" alt="">
          </div>
          <div class="col-sm-9">
            <div>
              <h5>Nguyễn Đình Thắng</h5>
              <span style="font-family: 'Times New Roman', Times, serif;">Mã NTD: 654059</span>
              <div>
                <i class="bi bi-envelope" style="margin-right: 5px;"></i><span style="margin-right: 15px; font-family: 'Times New Roman', Times, serif;">ngaoda12334&#64;gmail.com</span> 
                <i class="bi bi-telephone" style="margin-right: 5px;"></i><span style="font-family: 'Times New Roman', Times, serif;">0359780733</span></div>
            </div>
          </div>
        </div>
      </div>
     
      <div class="recruitment_ai">
          <a href="">
            <div class="d-flex justify-content-start">
                <span>Ai</span><span style="margin-left: 2rem;">Tự động tối ưu tuyển dụng</span>
            </div>
           
          </a>
      </div>

    </div>
  </div>
</div>