<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="easyjob" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5 img-logo">
        <img src="assets/img/logos/logo.png" alt="Logo EasyJob" />
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" aria-current="page" href="viec-lam">Việc làm</a>
                <ul class="dropdown-menu p-md-2 rounded-0">
                    <li class="nav-item dropend">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cấp bậc
                        </a>
                        <ul class="dropdown-menu m-2">
                          @for (i of levels; track i.id) {
                            <li class="text-center" role="button">{{i.option_name}}</li>
                          }
                        </ul>
                    </li>
                    <li class="nav-item dropend">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Kỹ năng
                        </a>
                        <ul class="dropdown-menu m-2">
                            @for (i of technologiesUsing; track i.id) {
                                <li class="text-center" role="button">{{i.option_name}}</li>
                            }
                        </ul>
                    </li>
                    <li class="nav-item dropend">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Loại hình
                        </a>
                        <ul class="dropdown-menu m-2">
                          <li><a class="dropdown-item" href="#">On Office</a></li>
                          <li><a class="dropdown-item" href="#">Hybrid</a></li>
                          <li><a class="dropdown-item" href="#">Remote</a></li>
                          <li><a class="dropdown-item" href="#">Oversea</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropend">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Địa điểm
                        </a>
                        <ul class="dropdown-menu m-2">
                          <li><a class="dropdown-item" href="#">Hà Nội</a></li>
                          <li><a class="dropdown-item" href="#">Hồ Chí Minh</a></li>
                          <li><a class="dropdown-item" href="#">Đà nẵng</a></li>
                          <li><a class="dropdown-item" href="#">Cần Thơ</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="u/cv">Hồ sơ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Liên hệ</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sự Nghiệp</a>
               <div class="dropdown-menu p-md-2">
                    <a href="blog" class="dropdown-item">Định Hướng Nghề Nghiệp</a>
                    <a href="testimonial" class="dropdown-item">Bí kíp tìm việc</a>
                    <a href="body-error-404" class="dropdown-item">Tính lương Gross-net</a>
                    <a href="body-error-404" class="dropdown-item">Thị trường xu hướng tuyển dụng</a>
               </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu p-md-2">
                    <a href="" class="dropdown-item">Job Category</a>
                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    <a href="body-error-404" class="dropdown-item">404</a>
                </div>
            </li>
        </ul>
        <div class="navbar-nav mx-5">
            <ul class="navbar-nav">
                @if(!isLogin){
                    <li class="nav-item">
                        <a class="nav-link rounded-2 p-3 register" href="dang-ky">Đăng ký</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded-2 p-3 login" href="dang-nhap">Đăng nhập</a>
                    </li>
                } @else {
                    <li class="nav-item dropdown position-relative">
                        <a href="#" class="nav-link dropdown-toggle border rounded-4 p-2 info-account" role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle fs-4"></i>
                        </a>
                        <div class="dropdown-menu dropdown-action border-light">
                            <div class="dropdown_info d-flex border-bottom">
                                <img [src]="avatar?avatar:'/assets/img/users/icon-user-male-default.png'" alt="avatar">
                                <div class="caption mb-3">
                                    <p class="info_name text-info">{{user.full_name}}</p>
                                    <p class="info_code">
                                        Mã ứng viên: #2348762
                                    </p>
                                    <p>{{applicant.email}}</p>
                                </div>
                            </div>
                            <a href="u/cv" class="dropdown-item mt-md-3 text-info">
                                <i class="bi bi-menu-button-wide-fill"></i> &nbsp;&nbsp; Bảng điều khiển                            </a>
                            <a href="u/cap-nhat-thong-tin-ca-nhan" class="dropdown-item mt-md-3 text-info">
                                <i class="bi bi-pencil-square"></i> &nbsp;&nbsp; Cài đặt thông tin cá nhân
                            </a>
                            <a role="button" class="dropdown-item text-danger mt-md-3" (click)="onLogout()">
                                <i class="bi bi-box-arrow-left"></i> &nbsp;&nbsp; Đăng xuất
                            </a>
                        </div>
                    </li>
                }
              </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->
