.info-group, .info-sidebar, .info-recruiter-follow{
    background-color: #F1F2F6;
    border-radius: 8px;
    padding: 20px;
}

.info-sidebar img{
    width: 84px;
    height: 84px;
    border: 1px solid #F1F2F6;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.upload-avatar{
    bottom: -25px;
    left: -15px;
}

.number-of-view .view{
    width: 84px;
    height: 84px;
    border: none;
    border-radius: 50%;
    background-color: #A1A1A1;
}
#email{cursor: no-drop;}
.btn-update-cv{
    border: 1px solid #2A6563;
    color: #2A6563;
}
.btn-update-cv:hover{
    background-color: #2A6563;
    color: #FFFFFF;
}