<!-- end document-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <p class="modal-title mx-auto" id="exampleModalLabel">
          <b class="fs-5">Chào bạn đến với Easy Job,</b><br />Bạn hãy dành ra vài giây để xác nhận thông tin dưới đây
          nhé.
        </p>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <div class="row mt-5">
          <div class="col-6 text-center">
            <div class="applicant mx-auto">
              <img src="assets/img/register/applicant.png" alt="Applicant">
            </div>
            <button type="button" data-bs-dismiss="modal" aria-label="Close" 
                class="btn btn-success opacity-75 btn-applicant rounded-pill mt-5"
                (click)="chosseApplicantRole()">
                <input 
                  type="radio"
                  id="applicant"
                  [(ngModel)]="roles"
                  name="role" 
                  value="applicant" 
                  [hidden]="true"/>
                  Tôi là ứng viên
            </button>
          </div>
          <div class="col-6 text-center">
            <img class="company mx-auto" src="assets/img/register/company.png" alt="Bussiness">
            <button type="button"data-bs-dismiss="modal" aria-label="Close" 
              class="btn btn-success opacity-75 btn-company rounded-pill mt-5"
              (click)="chosseCompanyRole()">
              <input 
                type="radio"
                id="company" 
                [(ngModel)]="roles"
                name="role"
                value="company"
                [hidden]="true"/>
              Tôi là nhà tuyển dụng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" id="openModal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
  [hidden]="true">
  Launch demo modal
</button>
