<div class="parent-container py-5">

   <div class="d-flex row">
    <div class="blog-left col-lg-8">
      <div class="header-content">
        <img src="./assets/img/about-1.jpg" alt="" class="">
        <div class="content">
        <h3 class="sub-content">Second divided from form fish beast made every of seas all gathered us saying he our</h3>
        
        <div class="author"><span>Travel, Lifestyle</span>|| <span>03 Comments</span></div>

        <div class="content-blog">
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower
          </p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower</p>
                    <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually</p>
          <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower</p>

        </div>
         
      </div>  
      </div>

       <div class="body-content ">
         <div><p class="quantity-comment">05 Comments</p></div>
         <div class="list-comment">
         <div class="comments">
          <div class="content-comment">
          <div class="img-user-comment">
            <img src="./assets/img/about-3.jpg" alt="">
          </div>
          <div class="content-user-comment">
            <span>Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
            </span>
          </div>
         </div>
         <div class="action-comment"><a href="">Emilly Blunt</a><span>December 4, 2017 at 3:12 pm</span> <a href="">REPLY</a></div>
         </div>

                <div class="comments">
          <div class="content-comment">
          <div class="img-user-comment">
            <img src="./assets/img/about-3.jpg" alt="">
          </div>
          <div class="content-user-comment">
            <span>Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
            </span>
          </div>
         </div>
         <div class="action-comment"><a href="">Emilly Blunt</a><span>December 4, 2017 at 3:12 pm</span> <a href="">REPLY</a></div>
         </div>

                <div class="comments">
          <div class="content-comment">
          <div class="img-user-comment">
            <img src="./assets/img/about-3.jpg" alt="">
          </div>
          <div class="content-user-comment">
            <span>Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
            </span>
          </div>
         </div>
         <div class="action-comment"><a href="">Emilly Blunt</a><span>December 4, 2017 at 3:12 pm</span> <a href="">REPLY</a></div>
         </div>

                <div class="comments">
          <div class="content-comment">
          <div class="img-user-comment">
            <img src="./assets/img/about-3.jpg" alt="">
          </div>
          <div class="content-user-comment">
            <span>Multiply sea night grass fourth day sea lesser rule open subdue female fill which them Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
            </span>
          </div>
         </div>
         <div class="action-comment"><a href="">Emilly Blunt</a><span>December 4, 2017 at 3:12 pm</span> <a href="">REPLY</a></div>
         </div>

         
         
        </div>

        
         
         <hr/>
          <!-- write comments start -->
       <div class="user-comment">
           <div><p >Write Comments</p></div>
           <div class="form-comment">
            <form action="">

              <div class="write-comment">
                  <textarea name="" id="" cols="10" rows="2"></textarea>
                </div>
              <div class="information-user">
                <input type="text" placeholder="type display name" class="name">
                <input type="text" placeholder="Email" class="email">
              </div>
              <div class="btn-submit-comment"><button>submit</button></div>
            </form>
           </div>
       </div>

       </div>
    </div>
    
    
    

    <!-- right   -->
    <div class="col-lg-4">
     <div class=" blog-right ">
      <div class=" w-100 blog-right-item">
        <form class="search-form row m-2 form-group">
          <input type="text" placeholder="Nhap noi dung" class="form-control">
          <button class="btn-form-control">search</button>
        </form>
      </div>

      <div class=" w-100 blog-right-item">
        <div class="category-blog row">
          <div class="header-category">
            <h4>Category</h4>
          </div>
          <div class="body-category">
            <ul>
              <li><a href="#" class="item-category">thang long</a> <span> 12</span></li>
              <li><a href="#" class="item-category">thang long</a> <span> 12</span></li>
              <li><a href="#" class="item-category">thang long</a> <span> 12</span></li>
            </ul>
          </div>
        </div>
      </div>

      <div class=" w-100 blog-right-item">
        <div class="row t-1">
          <div class="header-category">
             <h4>Popular Blogs</h4>
          </div>
          <div class="body-popular-blog">

            <div class="content">
              <img src="./assets/img/about-2.jpg" >
              <span class="sub-content">Subdue lesser beast winged bearing meat tree one</span>
              <p>By Michal / March 30</p>
            </div>

          </div>
        </div>

         <div class="row t-5">
          <div class="header-category">
             <h4>Popular Blogs</h4>
          </div>
          <div class="body-popular-blog">

            <div class="content">
              <img src="./assets/img/about-2.jpg" >
              <span class="sub-content">Subdue lesser beast winged bearing meat tree one</span>
              <p>By Michal / March 30</p>
            </div>

          </div>
        </div>

         <div class="row">
          <div class="header-category">
             <h4>Popular Blogs</h4>
          </div>
          <div class="body-popular-blog">

            <div class="content">
              <img src="./assets/img/about-2.jpg" >
              <span class="sub-content">Subdue lesser beast winged bearing meat tree one</span>
              <p>By Michal / March 30</p>
            </div>

          </div>
        </div>

         <div class="row">
          <div class="header-category">
             <h4>Popular Blogs</h4>
          </div>
          <div class="body-popular-blog">

            <div class="content">
              <img src="./assets/img/about-2.jpg" >
              <span class="sub-content">Subdue lesser beast winged bearing meat tree one</span>
              <p>By Michal / March 30</p>
            </div>

          </div>
        </div>
      </div>

      <div class=" w-100 blog-right-item">
        <div class="row">
          <div class="header-category">
             <h4>Popular Blogs</h4>
          </div>

        <div class="social-share-icon">
           <ul>
            <li><a href=""><i class="bi bi-facebook"></i></a></li>
            <li><a href=""><i class="bi bi-twitter-x"></i></a></li>
            <li><a href=""><i class="bi bi-0-circle"></i></a></li>
           </ul>
        </div>

        </div>
     </div>
    </div>
   </div>
  
</div>

</div>
